@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <br />
    <br />
    <div class="col-md-4">
        <button>@Html.ActionLink("Create Customer", "Create", "Customer")</button>
        <button>@Html.ActionLink("List of all Customer", "Index", "Customer")</button>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <button>@Html.ActionLink("Create Customer Category", "Create", "CustomerCategory")</button>
        <button>@Html.ActionLink("List of all Customer Category", "Index", "CustomerCategory")</button>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <button>@Html.ActionLink("Create Customer", "Create", "Customer")</button>
        <button>@Html.ActionLink("List of all Customer", "Index", "Customer")</button>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <button>@Html.ActionLink("Create Customer", "Create", "Customer")</button>
        <button>@Html.ActionLink("List of all Customer", "Index", "Customer")</button>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <button>@Html.ActionLink("Create Customer", "Create", "Customer")</button>
        <button>@Html.ActionLink("List of all Customer", "Index", "Customer")</button>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <button>@Html.ActionLink("Create Customer", "Create", "Customer")</button>
        <button>@Html.ActionLink("List of all Customer", "Index", "Customer")</button>
    </div>
    <button>@Html.ActionLink("Give Order", "create", "Order")</button>
    <button>@Html.ActionLink("Edit Order", "Edit", "order")</button>
    <button>@Html.ActionLink("Delete Order", "Delete", "Order")</button>
    <button>@Html.ActionLink("Create Product Category", "Create", "ProductCategories")</button>
    <button>@Html.ActionLink("Edit Product Category", "Edit", "ProductCategory")</button>
    <button>@Html.ActionLink("Create Retail Store", "Create", "RetailStore")</button>
    <button>@Html.ActionLink("Create Customer", "Create", "Customer")</button>
    <button>@Html.ActionLink("Create Customer Category", "Create", "CustomerCategory")</button>
    <button>@Html.ActionLink("Create Product", "Create", "Product")</button>
    <button>@Html.ActionLink("Update quantity", "UpdateQuantity", "Product")</button>
    <button>@Html.ActionLink("Check product", "checkProduct", "Product")</button>
</div>

</div>